<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex-row flex-0 sm:items-center sm:justify-between pt-8 pb-0 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="relative flex flex-0 ">
            <!-- Title -->
            <ng-container *transloco="let t">
                <div class="text-4xl font-extrabold tracking-tight">Nota de venta {{stateLabel}} </div>
            </ng-container>
        </div>
        <div *ngIf="!panelCreateEditSaleNote" class="relative flex flex-0 content-center">
              <!-- Actions -->
            <div class=" w-4/12">
                <!-- Search -->
                <p><strong>Cliente</strong></p>
                <mat-form-field  class="pr-3 w-full">
                    <mat-icon
                        matPrefix
                        [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input
                        [imask]="maskForInput"
                        matInput
                        [formControl]="searchInputClientControl"
                        [autocomplete]="'off'"
                        [placeholder]="'Buscar por cliente'">
                </mat-form-field>
            </div>
            <div class=" w-4/12">
                <!-- Search estado-->
                <p><strong>Estado</strong></p>
                <mat-form-field class="pr-3 w-full">
                    <mat-select  placeholder="Filtrar por estado">  <!-- [(value)]="selected" -->
                       <!--  <mat-option value="-1" selected>Seleccione</mat-option> -->
                        <mat-option *ngFor="let estado of estados" [value]="estado.id">
                            {{estado.val}}
                        </mat-option>
                    </mat-select>  
                </mat-form-field>
            </div>
            <div class=" w-4/12 flex flex-wrap content-center">
                <!-- Add product button -->
                <button
                    class="ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="createSaleNote()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Agregar nueva nota de venta</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div  *ngIf="!panelCreateEditSaleNote" class="flex flex-auto overflow-hidden">

        <!-- sales note list -->
        <div  class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="!(isLoading && salesNotes.length === 0); else loadingSaleNote">
                <ng-container *ngIf="salesNotes.length > 0 && salesNotesFiltered.length > 0 ; else noSaleNote">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            <div  
                                class="hidden sm:block"
                                [mat-sort-header]="'client'">
                                Cliente
                            </div>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'document'">
                                Documento
                            </div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'serie'">
                                Serie
                            </div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'numberdocument'">
                                Número documento
                            </div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'totalsaleprice'">
                                Precio venta total (S/.)
                            </div>
                            <div class="hidden lg:block">Acciones</div>
                        </div>
                    </div>
                        <!-- Rows -->
                        <ng-container *ngFor="let salesNote of salesNotesFiltered; trackBy: trackByFn">
                            <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                <!-- comercial cliente -->
                                <div class="truncate">
                                  <span  [matTooltip]="salesNote.client.comercialName">{{salesNote.client.comercialName}}</span>
                                </div>
                                <!-- documento -->
                                <div class="truncate">
                                    {{salesNote.document.description}}
                                </div>
                                <!-- creation serie -->
                                <div class="truncate"  >
                                    {{salesNote.serie}}
                                </div>
                                <!-- creation  numero documento -->
                                <div class="truncate" style="text-align: right;" >
                                    <span class="pr-4">{{salesNote.documentNumber}}</span>
                                </div>
                                <!-- creation  numero documento -->
                                <div class="truncate" style="text-align: right;" >
                                    <span class="pr-4">{{salesNote.salesTotalNC | number:'1.2-2'}}</span>
                                </div>
                                <!-- Details button -->
                                <div>
                                   <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                        mat-flat-button
                                        matTooltip="Editar nota de venta"
                                        (click)="editSaleNote(salesNote)">
                                        <mat-icon
                                            class="icon-size-5 editIcon"
                                            [svgIcon]=" 'heroicons_solid:pencil' "></mat-icon>
                                    </button> 
                                    <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                        mat-flat-button
                                        matTooltip="Eliminar nota de venta"
                                        (click)="deleteSaleNote(salesNote._id)">
                                        <mat-icon
                                            class="icon-size-5 deleteIcon"
                                            [svgIcon]=" 'heroicons_solid:trash' "></mat-icon>
                                    </button> 
                                </div>
                            </div>
                            <div class="grid">
                              <!--   <ng-container *ngIf="selectedDocumentSerie?._id === salesNote._id">
                                    <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: salesNote}"></ng-container>
                                </ng-container> -->
                            </div>
                        </ng-container>
                </ng-container>
            </ng-container>


            
            <ng-template #noSaleNote>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay nota de venta!</div>
            </ng-template>
            <ng-template #loadingSaleNote>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Cargando lista de notas de ventas</div>
            </ng-template>
        </div>
     

    </div>
    <div *ngIf="panelCreateEditSaleNote" >
        <app-create-edit-sale-note 
          [salesNoteInput]="salesNoteInput"
          (backTolist)="getBackTolist($event)"
          (isLoading)="getIsLoading($event)"
        ></app-create-edit-sale-note>
    </div>
