<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <ng-container *transloco="let t">
                    <div class="text-3xl font-semibold tracking-tight leading-8">{{t('products')}}</div>
                    <div class="font-medium tracking-tight text-secondary">{{t('products-description')}}</div>
                </ng-container>
                
            </div>
        </div>
    </div>
</div>
