.example-viewport {
    height: 23.2rem;
    width: 100%;
   // border: 1px solid black;
  }

 ::ng-deep   .mat-form-field-appearance-outline .mat-form-field-prefix{
        top: 0em !important;
    }
table {
    width: 100%;
    }
.mat-column-sku {
    width: 20% !important;
}
.mat-column-name {
    width: 30% !important;
}
.mat-column-netoprice {
    text-align: right;
    width: 20% !important;
}
.mat-column-check {
    text-align: center;
    width: 20% !important;
}

.itemSelected{
    background-color: #cdcdcd59 !important;
    color: #b5b5b5a8 !important;
}