<ng-container *ngIf="data.type === typeModal.imagesUploader">
    <div class="relative flex flex-col  -m-6">
            <!-- boton X -->
            <div class="absolute top-0 right-0 pt-1 pr-4">
                <button
                    mat-icon-button
                    [matDialogClose]="undefined">
                    <mat-icon
                        class="text-secondary"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
            <!-- insertar imagen -->
            <div class="row" style="margin-top: 1.4rem;">
                <div >
                    <app-file-uploader  (filesLoaded)="getFilesLoades($event)" ></app-file-uploader>
                </div> 
                <div class="flex justify-center items-center my-2">
                        <button
                            mat-flat-button
                            [disabled]= "!existListFile"
                            [color]="'primary'"
                            (click)="imagenesCargadas()">
                            Hecho
                        </button>
                </div>
            </div>
    </div>
</ng-container>

<ng-container *ngIf="data.type === typeModal.loading">
    <mat-spinner></mat-spinner>
</ng-container>

<ng-container *ngIf="data.type === typeModal.success">
    <div>
        <p>exito</p>

    </div>

</ng-container>
<ng-container *ngIf="data.type === typeModal.newOrder">
    <div class="relative flex flex-col  -m-6">
            <!-- boton X -->
            <div class="absolute top-0 right-0 pt-1 pr-4">
                <button
                    mat-icon-button
                    [matDialogClose]="undefined">
                    <mat-icon
                        class="text-secondary"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
            <!-- body -->
            <div class="mt-4 px-5">
                <div class="text-2xl font-extrabold tracking-tight text-center">
                    <span>Nueva orden</span> 
                </div>
                <div   class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-1 px-6 md:px-6 ">
                    <div class="absolute inset-x-0 top-1 px-9"
                        *ngIf="isLoading"> 
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                    <cdk-virtual-scroll-viewport  itemSize="10"  class="w-full  example-viewport " [formGroup]="orderForm">
                        <div class="relative flex sm:flex-row flex-0 mx-3">  <!-- flex flex-auto overflow-hidden -->
                            <div class=" w-3/5">
                                <app-select-search *ngIf="clients.length > 0" [listObj] = "listObjClient" 
                                    [placeholder]="'cliente'" [placeholderLabel]="'Buscar cliente'" 
                                    [noEntriesFoundLabel]="'cliente no encontrado'" (objSelectedOut)="objClientSelected($event)" 
                                    (listObjAvailable)="listClientAvailable($event)"
                                    >
                                </app-select-search> 
                            </div>
                            <div *ngIf="!clientAvailableSearch" class=" w-2/5"> <!--  -->
                                <button class="  ml-3"
                                    mat-flat-button
                                    [color]="'primary'"
                                    (click)="goToClient()">
                                    Agregar nuevo cliente
                                </button>
                            </div>
                        </div>
                        <div *ngFor="let item of productsControls; let i = index " formArrayName ="products" class="relative flex  sm:flex-row flex-0 mx-3">
                            <div class=" w-3/5">
                                <app-select-search *ngIf="products.length > 0" [listObj] = "listObjProduct" 
                                    [placeholder]="'producto'" [placeholderLabel]="'Buscar producto'" 
                                    [noEntriesFoundLabel]="'producto no encontrado'" (objSelectedOut)="objProductSelected($event, i)" 
                                    (listObjAvailable)="listProductAvailable($event)"
                                    >
                                </app-select-search> 
                            </div>
                            <div  class=" w-2/5"> <!--  -->
                                <mat-form-field class="mx-3 ">
                                    <input
                                        matInput
                                        type="number"
                                        placeholder="Cantidad"
                                        [formControl]="productsControls[i].controls.quantity">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="relative flex flex-wrap sm:flex-row flex-0 justify-center">
                            <button class="  mx-3"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="addProduct()">
                                Agregar más productos
                            </button>                       
                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
                <div class="relative flex sm:flex-row flex-0 mx-6 mt-4">
                    <p class="text-2xl font-extrabold tracking-tight">Total: S/. {{total | number:'1.2-2'}} </p>
                </div>                 
               
            </div>
    </div>
</ng-container>