<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <ng-container *transloco="let t">
                    <div class="text-3xl font-semibold tracking-tight leading-8">{{t('order-list')}}</div>
                    <div class="font-medium tracking-tight text-secondary">{{t('order-list-description')}}</div>
                </ng-container>
                <!-- mi comentario v2 -->
                
            </div>
        </div>
    </div>

    <div class="px-3">
        <button
            mat-flat-button
            [color]="'primary'"
            (click)="openModal()">
            Open  subir imagen
        </button>

    <!--     <app-file-uploader></app-file-uploader> -->
    </div>
</div>


