<div class="mt-2 flex flex-wrap content-center">
    <!-- Add product button -->
    <button
        class="ml-4"
        mat-flat-button
        [color]="'primary'"
        (click)="backTolistSaleNote()">
        <mat-icon [svgIcon]="'heroicons_outline:arrow-sm-left'"></mat-icon>
        <span class="ml-2 mr-1">Regresar a lista nota de ventas</span>
    </button>
</div>
<!-- Main -->
<div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-1 md:px-1 border-b">
    <!-- documentSeries list -->
    
        <div class="flex flex-col w-full" [formGroup]="selectedSaleNoteForm">
            <div class="relative flex-row flex-0 mx-4 p-4">
                <div class="relative flex flex-0 ">
                    <div class="w-4/12">
                        <mat-form-field class="pr-2" style="width: 100%;">
                            <mat-label>Cliente</mat-label>
                            <input
                                [imask]="maskForInput"
                                matInput
                                [formControlName]="'client'">
                        </mat-form-field>
                    </div>
                    <div class="w-4/12 pr-2">
                        <app-select-search *ngIf="listObjCompanies.length > 0" [labelTop]= "'Empresa'" [listObj] = "listObjCompanies" 
                            [placeholder]="'empresa'" [placeholderLabel]="'Buscar empresa'" [id]= ""
                            [noEntriesFoundLabel]="'empresa no encontrada'" (objSelectedOut)="objCompanySelected($event)"  > 
                        </app-select-search>   
                    </div>
                    <div class="w-4/12">
                        <app-select-search *ngIf="listObjDocuments.length > 0" [labelTop]= "'Documento'" [listObj] = "listObjDocuments" 
                            [placeholder]="'documento'" [placeholderLabel]="'Buscar documento'" [id]= ""
                            [noEntriesFoundLabel]="'documento no encontrado'" (objSelectedOut)="objDocumentSelected($event)"  > 
                        </app-select-search>
                    </div>

                </div>
                <div class="relative flex flex-0 ">
                    <div class="w-4/12">
                        <mat-form-field class="pr-2" style="width: 100%;">
                            <mat-label>Serie</mat-label>
                            <input
                               
                                 
                                [imask]="maskForInput"
                                matInput
                                [formControlName]="'serie'">
                        </mat-form-field>
                    </div>
                </div>
            </div>
           
        </div>
    
</div>