.sizeScroll{
    height: 23rem;
}
.inventory-grid {
    grid-template-columns: 48px auto 40px;

    @screen sm {
        grid-template-columns: 48px auto 112px 72px;
    }

    @screen md {
        grid-template-columns: 6rem 16rem 4rem  7.55rem 7.2rem 7.55rem;
    }

    @screen lg {
        grid-template-columns: 6rem 16rem 4rem  7.55rem 7.2rem 7.55rem;
    }
}